form {
  > .form-item {
    > * {
      margin-block-end: var(--gap-alt);
    }
  }
}

button,
input,
select,
textarea {
  margin: 0;
  padding: var(--padding-default);
  border: 2px solid var(--color-black--001);
  border-radius: 0;
  field-sizing: content;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-white--002);

  &:focus,
  &:focus-visible,
  &:focus-within {
    border-radius: 0;
  }
}

button,
input,
select {
  min-width: 0;
}

textarea {
  min-width: 100%;
  min-height: 10rem;
}
