*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-size: 100%;
  font-weight: normal;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: max(65ch, 80ch);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figcaption,
blockquote {
  text-box: trim-both cap alphabetic;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:is(ul, ol)[class] {
  list-style: "";
  margin: 0;
  padding: 0;
}

:is(ul, old)[role="list"] {
  margin-inline-start: 1.25em;
}

:target {
  scroll-margin-block: 32px;
  scroll-margin-block: 5rlh;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  min-height: 100dvh;
}

html {
  text-size-adjust: none;
  /*font-size: 62.5%;*/
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /*font-size: 1.6rem;*/
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

:is(blockquote)[class] {
  margin-inline: 4em;
  position: relative;
  isolation: isolate;

  &::before {
    position: absolute;

    font-family: FontAwesome;
    content: "\f10d";
    left: -4.5%;
    top: 0;
    color: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
  }

  > p {
    font-size: 1.5rem;
    margin-block: 1.5rem;
    line-height: normal;
  }
}

/* Inherit fonts for inputs and buttons */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
