.grid-global {
  --gutter: 1.5rem;
  --wrapper-max-width: 1100px;
  --breakout-max-width: 1350px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--wrapper-max-width)) / 2
  );

  grid-template-areas:
    "unav"
    "main"
    "ufooter";
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [page-start]
    var(--gutter)
    [content-start]
    minmax(0, 100%)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [wrapper-start]
    min(calc(100% - (var(--gutter) * 2)), var(--wrapper-max-width))
    [wrapper-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(0, 100%)
    [content-end]
    var(--gutter)
    [page-end];
}

#nygov-universal-navigation {
  grid-area: unav;
}

#nygov-main {
  grid-area: main;
}

#nygov-universal-footer {
  grid-area: ufooter;

  > * {
    grid-column: content;
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: wrapper;
    }
  }
}

#nygov-universal-navigation,
#nygov-universal-footer,
#nygov-main {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;
}

.nygov-header,
.nygov-alerts,
.nygov-content,
.nygov-footer {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;
  > * {
    grid-column: content;

    &.hero,
    &.breakout {
      display: grid;
      grid-template-columns: subgrid;
    }

    &.hero {
      grid-column: page;

      > * {
        grid-column: content;
      }
    }

    &.breakout {
      grid-column: breakout;
    }

    &:has(.node),
    &.breakout > * {
      grid-column: wrapper;
    }
  }
}

.nygov-content {
  > * {
    grid-column: wrapper;
  }
}

@media screen and (min-width: 64rem) {
  .grid-global {
    --gutter: 4rem;

    grid-template-areas:
      "unav     unav    unav    unav    unav    unav    unav"
      "main     main    main    main    main    main    main"
      "ufooter  ufooter ufooter ufooter ufooter ufooter ufooter";
  }
}
