.grid-global {
  --gutter: 1.5rem;
  --wrapper-max-width: 1100px;
  --breakout-max-width: 1350px;
  --narrow-max-width: 750px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--wrapper-max-width)) / 2
  );
  --wrapper-size: calc(
    (var(--wrapper-max-width) - var(--narrow-max-width)) / 2
  );

  grid-template-areas:
    "header   header  header  header  header  header  header  header  header"
    "main     main    main    main    main    main    main    main    main"
    "footer   footer  footer  footer  footer  footer  footer  footer  footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [page-start]
    var(--gutter)
    [content-start]
    minmax(0, 100%)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [wrapper-start]
    minmax(var(--gutter), var(--wrapper-size))
    [narrow-start]
    min(calc(100% - (var(--gutter) * 4)), var(--narrow-max-width))
    [narrow-end]
    minmax(var(--gutter), var(--wrapper-size))
    [wrapper-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(0, 100%)
    [content-end]
    var(--gutter)
    [page-end];

  &.with-sidebar {
    grid-template-columns:
      "header   header  header  header  header  header  header  header  header"
      "main     main    main    main    main    main    main    main    main"
      "sidebar  sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
      "footer   footer  footer  footer  footer  footer  footer  footer  footer";
    grid-template-rows: auto 1fr auto auto;
  }
}

@media screen and (min-width: 64rem) {
  .grid-global {
    --gutter: 4rem;

    &.with-sidebar {
      grid-template-areas:
        "header   header  header  header  header  header  header  header  header"
        "main     main    main    main    main    main    sidebar sidebar sidebar"
        "footer   footer  footer  footer  footer  footer  footer  footer  footer";
      grid-template-rows: auto 1fr auto;
    }
  }
}
