:root {
  --color-white--001: white;
  --color-white--002: #f5f4f4;
  --color-white--003: #eae9e9;
  --color-white--004: #b7b7b6;
  --color-black--001: black;
  --color-black--002: #100f0d;
  --color-black--003: #282725;
  --color-black--004: #585756;
}
